apiVersion: v1
kind: Pod
metadata:
  name: cm-test
spec:
  containers:
  - name: cm-test
    image: busybox
    command: ["sh", "-c", "env | grep APP_ && sleep 3600"]
    env:
    - name: APP_ENV
      valueFrom:
        configMapKeyRef:
          name: app-config
          key: APP_ENV
    - name: APP_MESSAGE
      valueFrom:
        configMapKeyRef:
          name: app-config
          key: APP_MESSAGE
